body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
    nav {
      background-color: #979797;
      color: white;
      padding: 1rem 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      /* Ajustez la taille du logo et les marges si nécessaire */
    }
    /* nav user */
    .menu-button, .user-button {
      background: none;
      border: none;
      cursor: pointer;
      color: white; 
      font-size: 1.5rem;
    }
    .user-menu {
    position: relative;
    display: inline-block;
  }
  
  .user-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .user-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .user-button:hover + .user-dropdown, .user-dropdown:hover {
    display: block;
  }
  
  
  
  
    .menu-button:hover, .user-button:hover {
      opacity: 0.7;
    }
    /* logo */
    .logo {
    height: 90px;
    }
    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      padding: 2rem;
      margin-bottom: 1rem;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    
    
    input[type="text"] {
      padding: 10px;
      margin-right: 10px;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-size: 1.2em; /* Augmentez la taille du texte */
    }
    
    select {
      padding: 10px;
      margin-right: 10px;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-size: 1.2em; /* Augmentez la taille du texte */
    }
    .search-button, .fa-search {
      padding-bottom: 5px;
      padding-top: -1px;
      
    }
    .search-button {
      
      border-radius: 5px;
        height: 36px;
        border: 1px solid #ddd;
  
        padding: 24px;
        background-color: #007BFF;
        color: white;
        cursor: pointer;
        display: inline-flex; /* Use flexbox for alignment */
        align-items: center; /* Aligns children vertically */
        justify-content: center; /* Centers children horizontally */
      }
  
      .fa-search {
        vertical-align: middle;
        
      }
    .export-button {
      padding-left:  1120px;
     
      color: rgb(163, 88, 88);
      
    }
    
    .search-button:hover {
      background-color: #002466;
     
    }
    
    /* Pour augmenter la taille de l'icône de recherche */
   
    form {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    label {
        margin-bottom: 10px;
        display: inline-block;
    }
    input[type="text"],
    input[type="password"] {
        width: calc(100% - 22px);
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    button {
        background-color: #0056b3;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
    button:hover {
        background-color: #004494;
    }
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  